@import "css/reset.css";
@import "components/header-bar.css";
@import "screen/kokoa-clone-2.css";
* {
  box-sizing: border-box;
}
body {
  height: 100vh;
}
/*--------------------------------friend css---------------------------*/
.friends-font-and-text {
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
}
.friends-font-and-text > span {
  font-weight: 600;
  font-size: 30px;
}
.friends-font-and-text__i {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.friends-font-and-text__i i {
  font-size: 18px;
}
