@import "css/reset.css";
@import "components/header-bar.css";
@import "screen/kokoa-clone-2.css";
* {
  box-sizing: border-box;
}
/*--------------------------------font and text css---------------------------*/
.friends-font-and-text {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
}
.friends-font-and-text > span {
  font-weight: 600;
  font-size: 30px;
}
.friends-font-and-text__i {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.friends-font-and-text__i i {
  font-size: 18px;
}
/*---------------------font and text css----------------------------------*/
/*------------------------inf css-------------------------------------*/
.friends-inf {
  margin-top: 15px;
  padding: 0px 15px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  color: rgba(1, 1, 1, 0.5);
}
.friends-inf i:first-child {
  margin-right: 2px;
}
.friends-inf i:last-child {
  font-size: small;
  margin-left: 2px;
}
/*-------------------------------------inf css----------------------------------*/
/*----------------------------------img and data--big css------------------------*/
.friends-img-and-data--big {
  margin-top: 20px;
  padding: 0px 15px;
  display: flex;
}
.friends-img-and-data__img {
  width: 80px;
  height: 80px;
  border-radius: 30px;
  position: relative;
}
.friends-img-and-data__data {
  position: absolute;
  margin-left: 100px;
}
.friends-img-and-data__data p {
  margin: 0px;
}
.friends-img-and-data__data p:first-child {
  margin-top: 5px;
  font-size: 30px;
}
.friends-img-and-data__data p:last-child {
  color: rgba(1, 1, 1, 0.5);
}
/*----------------------------------img and data--big css------------------------*/
/*-------------------------------------channel css-------------------------------*/
.friends-channel {
  margin-top: 20px;
  padding: 0px 15px;
  border-top: 1px solid rgba(1, 1, 1, 0.3);
}
.friends-channel summary {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  color: rgba(1, 1, 1, 0.5);
}

.friends-img-and-data--small__img {
  width: 60px;
  height: 60px;
  border-radius: 20px;
}
