@import "css/reset.css";
@import "components/header-bar.css";
@import "screen/kokoa-clone-2.css";
@import "components/friends-font-and-text.css";
@import "screen/friends-inf.css";
* {
  box-sizing: border-box;
}

/*----------------------------------img and data--big css------------------------*/
.friends-img-and-data--big {
  margin-top: 20px;
  padding: 0px 15px;
  display: flex;
}
.friends-img-and-data__img {
  width: 80px;
  height: 80px;
  border-radius: 30px;
  position: relative;
}
.friends-img-and-data__data {
  position: absolute;
  margin-left: 100px;
}
.friends-img-and-data__data p {
  margin: 0px;
}
.friends-img-and-data__data p:first-child {
  margin-top: 5px;
  font-size: 30px;
}
.friends-img-and-data__data p:last-child {
  color: rgba(1, 1, 1, 0.5);
}
/*----------------------------------img and data--big css------------------------*/
/*-------------------------------------channel css-------------------------------*/
.friends-channel {
  margin-top: 20px;
  padding: 0px 15px;
  border-top: 1px solid rgba(1, 1, 1, 0.3);
}
.friends-channel summary {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  color: rgba(1, 1, 1, 0.5);
}
.friends-img-and-data--small {
  display: flex;
}
.friends-img-and-data--small__img {
  width: 60px;
  height: 60px;
  border-radius: 20px;
  margin-top: 10px;
}
.friends-img-and-data--small__data {
  margin-top: 15px;
  margin-left: 20px;
}
.friends-img-and-data--small__data p {
  margin: 0px;
}
.friends-img-and-data--small__data p:last-child {
  color: rgba(1, 1, 1, 0.5);
}
/*-------------------------------------channel css-------------------------------*/
/*-------------------------------------friends-bottombar--------------------------*/
.friends-bottombar {
  align-items: center;
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-around;
}
.friends-bottombar i {
  font-size: x-large;
}
/*-------------------------------------friends-bottombar--------------------------*/

/*--------------------------------------find css----------------------------------*/

/*--------------------------------------more-contents css-----------------------------*/
.more-contents {
  padding: 0px 15px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.more-contents__contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.more-contents__contents i {
  font-size: xx-large;
}
/*--------------------------------------more-contents css-----------------------------*/
/*-------------------------------------recommend friends css--------------------------*/
.recommended-friends {
  padding: 0px 15px;
  padding-top: 10px;
  border-top: 1px solid rgba(1, 1, 1, 0.1);
  color: rgba(1, 1, 1, 0.5);
  margin-bottom: 80px;
}
.no-friends {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(1, 1, 1, 0.5);
  margin-bottom: 100px;
}
.open-chat {
  display: flex;
  justify-content: space-between;
  color: rgba(1, 1, 1, 0.5);
  align-items: center;
  border-top: 1px solid rgba(1, 1, 1, 0.1);
  padding: 0px 15px;
  padding-top: 10px;
}
/*-------------------------------------recommend friends css--------------------------*/
/*--------------------------------------more-contents-more css------------------------*/
.more-contents-more {
  margin-top: 50px;
  padding: 0px 15px;
  display: flex;
  justify-content: space-between;
}
.more-contents-more p {
  padding-top: 15px;
  color: rgba(1, 1, 1, 0.5);
}
.more-contents-more p > b {
  color: black;
}
.more-contents-more img {
  width: 100px;
  height: 100px;
  border-radius: 15px;
}
.more-contents-more span {
  right: 45px;
  bottom: 83px;
  position: absolute;
  color: aliceblue;
}
/*--------------------------------------more-contents-more css------------------------*/

/*--------------------------------------find css----------------------------------*/
/*--------------------------------------more css---------------------------------*/
.more-contentsd {
  margin-left: 15px;
  display: inline-flex;
}
.more-contentsd div:last-child {
  margin-left: 61px;
}
.suggestions {
  margin-top: 20px;
  border-top: 1px solid rgba(1, 1, 1, 0.1);
  padding: 20px 15px;
}
