.header-bar {
  display: flex;
  justify-content: center;
}
.header-bar span {
  width: 33%;
}

.header-bar span:nth-child(2) {
  display: flex;
  justify-content: center;
}
.header-bar span:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
